################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/.vs/Gazo 2.0/v15
/Gazo 2.0/bin/Release
/Gazo 2.0/obj
